[Unit]
Description=Wallpaper daemon for Wayland
Documentation=https://github.com/swaywm/swaybg
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/bin/sh -c '/usr/bin/swaybg --image %h/.cache/wal/colors-wallpaper.svg --mode fit --color $(head -n 1 < %h/.cache/wal/colors)'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
