[Unit]
Description=ElKowars wacky widgets - window opener
Documentation=https://elkowar.github.io/eww/
Requires=eww.service
After=graphical-session.target eww.service

[Service]
Type=oneshot
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=/usr/bin/eww -c %h/.config/eww open --no-daemonize "%i"
ExecStop=/usr/bin/eww -c %h/.config/eww close --no-daemonize "%i"
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
