// Approximate material 3 colors from base-16 theme.
$primary: $color2;
$primary-050: mix($primary, $color0, 5%);
$primary-100: mix($primary, $color0, 10%);
$primary-200: mix($primary, $color0, 20%);
$primary-300: mix($primary, $color0, 30%);
$primary-400: mix($primary, $color0, 40%);
$primary-500: $primary;
$primary-600: mix($primary, $color15, 40%);
$primary-700: mix($primary, $color15, 30%);
$primary-800: mix($primary, $color15, 20%);
$primary-900: mix($primary, $color15, 10%);

$primary-container: $primary-100;
$on-primary: $primary-100;
$on-primary-container: $primary-700;

$secondary: $color4;
$secondary-100: mix($secondary, $color0, 10%);
$secondary-200: mix($secondary, $color0, 20%);
$secondary-300: mix($secondary, $color0, 30%);
$secondary-400: mix($secondary, $color0, 40%);
$secondary-500: $secondary;
$secondary-600: mix($secondary, $color15, 40%);
$secondary-700: mix($secondary, $color15, 30%);
$secondary-800: mix($secondary, $color15, 20%);
$secondary-900: mix($secondary, $color15, 10%);

$secondary-container: $secondary-100;
$on-secondary: $secondary-100;
$on-secondary-container: $secondary-700;

$tertiary: $color6;
$tertiary-100: mix($tertiary, $color0, 10%);
$tertiary-200: mix($tertiary, $color0, 20%);
$tertiary-300: mix($tertiary, $color0, 30%);
$tertiary-400: mix($tertiary, $color0, 40%);
$tertiary-500: $tertiary;
$tertiary-600: mix($tertiary, $color15, 40%);
$tertiary-700: mix($tertiary, $color15, 30%);
$tertiary-800: mix($tertiary, $color15, 20%);
$tertiary-900: mix($tertiary, $color15, 10%);

$tertiary-container: $tertiary-100;
$on-tertiary: $tertiary-100;
$on-tertiary-container: $tertiary-700;

$error: $color1;
$error-100: mix($error, $color0, 10%);
$error-200: mix($error, $color0, 20%);
$error-300: mix($error, $color0, 30%);
$error-400: mix($error, $color0, 40%);
$error-500: $error;
$error-600: mix($error, $color15, 40%);
$error-700: mix($error, $color15, 30%);
$error-800: mix($error, $color15, 20%);
$error-900: mix($error, $color15, 10%);

$error-container: $error-100;
$on-error: $error-100;
$on-error-container: $error-700;

$shadow: #000;

//$surface-container-lowest: $color0;
//$surface: mix($color10, $color0, 50%);
////$surface-container-low: mix($color11, $color10, 80%);
////$surface-container: mix($color11, $color10, 90%);
////$surface-container-high: mix($color11, $color8, 90%);
////$surface-container-highest: mix($color11, $color8, 80%);
//$surface-container-low: mix($color11, $color10, 60%);
//$surface-container: mix($color11, $color10, 70%);
//$surface-container-high: mix($color11, $color8, 70%);
//$surface-container-highest: mix($color11, $color8, 60%);
//$surface-bright: $color8;
//
//$outline-variant: $color8;
//$outline: $color7;
//$on-surface-variant: $color12;
//$on-surface: $color13;

$neutral: $color8;
$neutral-050: mix($neutral, $color0, 5%);
$neutral-100: mix($neutral, $color0, 10%);
$neutral-200: mix($neutral, $color0, 20%);
$neutral-300: mix($neutral, $color0, 30%);
$neutral-400: mix($neutral, $color0, 40%);
$neutral-500: $neutral;
$neutral-600: mix($neutral, $color15, 40%);
$neutral-700: mix($neutral, $color15, 30%);
$neutral-800: mix($neutral, $color15, 20%);
$neutral-900: mix($neutral, $color15, 10%);

$neutral-variant: $color7;
$neutral-variant-100: mix($neutral-variant, $color0, 10%);
$neutral-variant-200: mix($neutral-variant, $color0, 20%);
$neutral-variant-300: mix($neutral-variant, $color0, 30%);
$neutral-variant-400: mix($neutral-variant, $color0, 40%);
$neutral-variant-500: $neutral-variant;
$neutral-variant-600: mix($neutral-variant, $color15, 40%);
$neutral-variant-700: mix($neutral-variant, $color15, 30%);
$neutral-variant-800: mix($neutral-variant, $color15, 20%);
$neutral-variant-900: mix($neutral-variant, $color15, 10%);

//$surface-container-lowest: $neutral-100;
//$surface: $neutral-200;
//$surface-container-low: $neutral-300;
//$surface-container: $neutral-400;
//$surface-container-high: $neutral-500;
//$surface-container-highest: $neutral-600;
//$surface-bright: $neutral-700;
//
//$outline-variant: $neutral-variant-600;
//$outline: $neutral-variant-700;
//$on-surface-variant: $neutral-variant-800;
//$on-surface: $neutral-variant-900;

// Looking at screenshots, surface colors in Material 3 Expressive seem to be
// significantly more tinted than in the original Material 3. Shift colors
// towards primary accent color.
$surface-container-lowest: mix($neutral-050, $primary-050, 10%);
$surface-container-low: mix($neutral-100, $primary-100, 10%);
$surface-container: mix($neutral-200, $primary-200, 10%);
$surface: mix($neutral-300, $primary-300, 10%);
$surface-container-high: mix($neutral-400, $primary-400, 10%);
$surface-container-highest: mix($neutral-500, $primary-500, 10%);
$surface-bright: mix($neutral-600, $primary-600, 10%);

$outline-variant: mix($neutral-variant-600, $primary-600, 10%);
$outline: mix($neutral-variant-700, $primary-700, 10%);
$on-surface-variant: mix($neutral-variant-800, $primary-800, 10%);
$on-surface: mix($neutral-variant-900, $primary-900, 10%);
