.workspaces  {
  .workspace {
    @keyframes select-workspace-bar {
      0% { min-width: $rem3; }
      20% { min-width: $rem6 + $rem0-5; }
      100% { min-width: $rem6; }
    }
    @keyframes deselect-workspace-bar {
      0% { min-width: $rem6; }
      20% { min-width: $rem3 - $rem0-5; }
      100% { min-width: $rem3; }
    }

    border-radius: $rem;
    min-height: $rem3 / 2;
    background-color: $on-surface;
    opacity: 0.1;
    animation: deselect-workspace-bar $click-duration ease-in-out;

    &.active, &.active:hover {
      background-color: $on-surface;
      animation: select-workspace-bar $click-duration ease-in-out;
      opacity: 0.2;
    }

    &:hover {
      border-radius: $rem0-5;
      background-color: $on-surface;
      opacity: 0.2;
    }
  }
}

@import "styles-workspaces.scss";
