.workspaces  {
  .workspace {
    @keyframes select-workspace-bar {
      0% { min-width: $rem3; }
      20% { min-width: $rem6 + $rem0-5; }
      100% { min-width: $rem6; }
    }
    @keyframes deselect-workspace-bar {
      0% { min-width: $rem6; }
      20% { min-width: $rem3 - $rem0-5; }
      100% { min-width: $rem3; }
    }

    border-radius: $rem;
    min-height: $rem4;
    background-color: $surface-container;
    color: $on-surface-variant;
    animation: deselect-workspace-bar $click-duration ease-in-out;

    &.active, &.active:hover {
      background-color: $surface-container-low;
      animation: select-workspace-bar $click-duration ease-in-out;
    }

    &:hover {
      border-radius: $rem0-5;
      background-color: $surface-container-low;
      color: $on-surface;
    }
  }
}

@import "workspaces.scss";
