.shade-container {
  .left-container, .right-container {
    min-width: 150px;
  }

  &.hidden {
    transition: opacity $hide-duration ease-in-out;
    opacity: 0.0;
  }

  &.visible {
    transition: opacity $show-duration ease-in-out;
    opacity: 1.0;
  }

  .shade-corners-top {
    background-color: $surface;
  }
  .shade-corners-bottom {
    .corner-top-left {
      box-shadow: (-$corner-size) $corner-size 0 $corner-size $surface;
    }
    .corner-top-right {
      box-shadow: $corner-size $corner-size 0 $corner-size $surface;
    }
  }

  .shade {
    padding: 0 $rem2;
    padding-top: 0;
    padding-bottom: $rem0-5;
    color: $foreground;
    background-color: $surface;

    .shade-status {
      padding-bottom: $rem2;

      .time {
        font-size: $rem2;
      }

      .status {
        padding: $rem0-5;

        label {
          margin: 0 $rem0-5;
        }
      }
    }

    @import "styles-shade-notifications.scss";
    @import "styles-shade-quick-settings.scss";
    @import "styles-shade-workspaces.scss";
  }

  .modal-container {
    .modal {
      border-radius: $rem3;
      background-color: $surface;
      margin: $rem 2 * $rem8;

      &.open {
        @keyframes modal-open {
          0% { margin: 2 * $rem8; }
          100% { margin: $rem 2 * $rem8; }
        }
        animation: modal-open $show-duration ease-in-out;
      }

      button {
        transition: border-radius $hover-duration;
        background-color: $primary;
        color: $on-primary;
        margin: $rem $rem2;
        border-radius: $rem;
        padding: $rem0-5 $rem;

        &:hover {
          border-radius: $rem0-5;
          background-color: $outline;
        }
      }

      .heading {
        font-size: $rem2;
      }

      .left {
        padding: $rem0-5 $rem2;
      }

      .right {
        background-color: $surface-container;
        border-radius: $rem3;
        padding: $rem0-5 $rem2;
      }

      .switch-container {
        min-width: 2 * $rem8;
        margin: $rem2;
      }

      .bluetooth {
        padding: $rem2;

        button {
          all: unset;
          border-radius: $rem2;
          min-height: 0;
          margin: 0;
          padding: 0;
          margin-right: $rem6;

          &:hover {
            background-color: rgba($surface-container-high, 0.2);
          }
        }

        .icon {
          &.color1 { color: $color1; background-color: rgba($color1, 0.2);}
          &.color2 { color: $color2; background-color: rgba($color2, 0.2);}
          &.color3 { color: $color3; background-color: rgba($color3, 0.2);}
          &.color4 { color: $color4; background-color: rgba($color4, 0.2);}
          &.color5 { color: $color5; background-color: rgba($color5, 0.2);}
          &.color6 { color: $color6; background-color: rgba($color6, 0.2);}
          border-radius: $rem2;
          font-size: $rem2;
          padding: $rem;
          margin: $rem0-5 $rem2;
        }
      }
    }

    .modal-shadow {
      background-color: rgba($shadow, 0.5);
    }

    .modal-shadow-corners-bottom {
      .corner-top-left {
        box-shadow: (-$corner-size) $corner-size 0 $corner-size rgba($shadow, 0.5);
      }
      .corner-top-right {
        box-shadow: $corner-size $corner-size 0 $corner-size rgba($shadow, 0.5);
      }
    }
  }
}
