.bar {
  color: $foreground;

  .left-container, .right-container {
    min-width: 150px;

    .time {
      margin-right: $rem;
    }

    image {
      padding: $rem0-5;
    }

    .status {
      padding: $rem0-5;

      label {
        margin: 0 $rem0-5;
      }
    }

    .indicator {
      background-color: $primary;
      color: $on-primary;
      border-radius: $rem;
      padding: $rem0-5;

      label {
        margin: 0 $rem0-5;
      }
    }
  }

  @import "bar-workspaces.scss";
}
