@define-color foreground #ffffff;
@define-color background #000000;

@define-color color1 #ff0000;
@define-color color2 #00ff00;
@define-color color3 #dddd00;
@define-color color7 #dddddd;
@define-color color8 #666666;
@define-color color11 #555555;

@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: "Symbols Nerd Font Mono", "Roboto Medium";
    font-size: 12px;
}

window#waybar {
    background-color: transparent;
    border-bottom: 0px;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    background-color: transparent;
    padding: 0 0px;
    border-radius: 10px;
}

button:hover {
    background-color: @color7;
    color: @background;
}

#workspaces button {
    padding: 0 0px;
    margin: 0 2px;
    border: 0px;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: @color11;
    color: @foreground;
    padding: 0 16px;
}

#workspaces button.urgent {
    color: @background;
    background-color: @color1;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-media,
#custom-pacman,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#power-profiles-daemon,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber,
#workspaces {
    padding: 0 8px;
    color: @foreground;
}

.modules-right {
    padding: 0 8px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.discharging.warning {
    color: @color3;
}

#battery.discharging.critical {
    color: @color1;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @background;
    }
}

#battery.critical:not(.charging) {
    color: @color1;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    color: @color1;
}

#power-profiles-daemon.balanced {
    color: @color3;
}

#power-profiles-daemon.power-saver {
    color: @color2;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    color: @color8;
}

#wireplumber.muted {
    color: @color8;
}

#temperature.critical {
    color: @color1;
}

#tray {
    padding: 0 24px;
    background-color: @color11;
    border-radius: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @color1;
}

#idle_inhibitor.activated {
    color: @color3;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
}

#privacy-item.screenshare {
    color: @color3;
}

#privacy-item.audio-in {
    color: @color3;
}

#privacy-item.audio-out {
    color: @color3;
}

tooltip {
    background-color: @color11;
    border-radius: 10px;
}
