[Match]
Name=enp0s31f6 eno1

[Network]
DHCP=yes
MulticastDNS=yes

[DHCP]
RouteMetric=10

[DHCPv4]
UseDNS=false

[DHCPv6]
UseDNS=false

[IPv6AcceptRA]
UseDNS=false
