[Match]
Type=wlan

[Network]
DHCP=yes
MulticastDNS=yes

[DHCP]
RouteMetric=20

[DHCPv4]
UseDNS=false

[DHCPv6]
UseDNS=false

[IPv6AcceptRA]
UseDNS=false
