# Ensure screen locker starts before sleeping.
#
# From Arch docs[1][1]:
#
# > As screen lockers may return before the screen is "locked", the screen may
# > flash on resuming from suspend. Adding a small delay via
# > `ExecStartPost=/usr/bin/sleep 1` helps prevent this.
#
# There are other potential solutions being discussed in the hyprlock
# repo[2][2].
#
# [1]: https://wiki.archlinux.org/title/Power_management/Suspend_and_hibernate#Custom_systemd_units
# [2]: https://github.com/hyprwm/hyprlock/issues/184

[Unit]
Description=Delay system sleep actions
Before=sleep.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/sleep 2
ExecStart=-/usr/bin/true

[Install]
WantedBy=sleep.target
